Repository salmarsumi/Firestore.IdentityServer4: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-firestore-storage.yml, azure-pipelines-firestore.yml

Path conditions:
  azure-pipelines-firestore-storage.yml: any of: src/SMD.IdentityServer4.Firestore.Storage
  azure-pipelines-firestore.yml: any of: src/SMD.IndentityServer4.Firestore

persited grant us generated id
  src/SMD.IdentityServer4.Firestore.Storage/Stores/PersistedGrantStore.cs
  test/IdentityServer4.Firestore.Storage.IntegrationTests/Stores/PersistedGrantStoreTests.cs
Due: azure-pipelines-firestore-storage.yml

restore
  azure-pipelines-firestore-storage.yml
Due: none

restore
  azure-pipelines-firestore.yml
Due: none

upgrade storage version
  src/SMD.IndentityServer4.Firestore/SMD.IndentityServer4.Firestore.csproj
Due: azure-pipelines-firestore.yml

Update README.md
  README.md
Due: none
